<!--
<br-book [book]="books[0]"></br-book>
<br-book [book]="books[1]"></br-book>
<br-book [book]="books[2]"></br-book>
-->

<!--
<br-book *ngFor="let b of books" [book]=b></br-book>
-->

<br-create-book (addBook)="doAddBook($event)"></br-create-book>

<h5>Gesamtanzahl: {{ books.length }}</h5>
<!-- <button class="btn btn-primary">KLICK MICH!</button> -->

<div *ngFor="let b of books; index as i; odd as o"
  [ngClass]="{ grayBackground: o }">

  {{i + 1}}.
  <br-book (rateDown)="doRateDown($event)" (rateUp)="doRateUp($event)" [book]="b"></br-book>

</div>
